/* Tailwind v4 import tarzı */
@import "tailwindcss";

:root { color-scheme: light dark; }
html { scroll-behavior: smooth; }

/* Tema rengi ve tipografi */
body { @apply bg-neutral-100 text-neutral-900 antialiased; }

/* Mevcut içeriğin altına ekle */

/* Yatay kaydırma çubuğunu gizle ama kaydırmaya izin ver */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE ve Edge */
  scrollbar-width: none;  /* Firefox */
}